body {background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
 @font-face {
        font-family: 'FiraGo';
        src : url( FiraGO-Regular.ttf)

    }
    .a { font-family: FiraGo;}
h3 { font-family: FiraGo;
    display: flex;
    align-items: center;
   justify-content: space-between;}


#table1  {
    
    width: 1223px;
    text-align: left; 
    font-family:  FiraGo ;
    border-spacing: 0px; 
    border: 1px solid #EDEDED;
   
   
}
#table1 td {
   
    background: #FAFAFA;
    border-bottom: 1px solid #ddd
    
} 

#table1 th {
    font-family:  FiraGo ;
    height: 65px;
    
}
#table1 th:first-child 
{
    padding-left: 25px;
}

.btn {
    background: #FFDD04;
    border-radius: 10px;
    width: 141px;
    height: 50px;
    font-family:  FiraGo ;
    border: none;
    font-weight: bold;
    margin-right: 39px;

}


.table2 {
    width: 1223px;
}
#table3 {
    background: #FFFFFF;
    width: 1223px;
    text-align: left; 
    font-family:  FiraGo ;
    border-spacing: 0px; 
    border: 1px solid #EDEDED;
   
    
   
}
#table3 td {
    background: #FAFAFA;
    height: 45px;
    width: 580px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-spacing: 0px; 
    border-bottom: 1px solid #ddd
    
    
    

}
#table3 th {
    padding-left: 20px;
    height: 65px;
}

.btn2 {
background: #FF8271;
border-radius: 10px;
border: 1px solid #FF8271;
width: 93px;
height: 33px;
font-family:  FiraGo ;
font-weight: bold;



}
.btn3 {
    background: #FFDD04;
border-radius: 10px;
border: 1px solid #FFDD04;
width: 93px;
height: 33px; 
font-family:  FiraGo ;
font-weight: bold;
margin-right: 6px;
}
.btn1{
 background: #FFDD04;
border-radius: 10px;
width: 141px;
height: 40px;
border: 1px solid #FFDD04;
margin-bottom: 21px;
margin-top: 64px;
font-family:  FiraGo ;
font-weight: bold;
 
}


.q {
    width: 311px;
    margin-left: 25px;
    margin-right: 47px;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 15px;
   
    border: 1px solid #ECECEC;
    border-radius: 10px;
}
.k {
    width: 242px;
  
    margin-right: 50px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 24px;
    border: 1px solid #ECECEC;
    border-radius: 10px;

}
.m {
    width: 193px;
    padding-top: 16px;
    margin-right: 79px;
    padding-bottom: 15px;
    padding-left: 24px;
    border: 1px solid #ECECEC;
    border-radius: 10px;

}
input{
    margin-top: 17px;
    margin-bottom: 17px;

}

